# Private local reference cache; sources retain their own copyrights.
research/local/
*.pyc
__pycache__/
.dart_tool/
.packages
build/
.flutter-plugins-dependencies
.idea/
*.iml
*.meow
*.meow-wal
*.meow-shm
artifacts/
